{% extends "TPCoreBundle::layout.html.twig" %}

{% block title %}
    Home Page
{% endblock %}

{% block body %}

    {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
    <h1>Bienvenue sur votre page d'acceuil </h1>
    <hr>
    {% for message in app.session.flashbag.get('message') %}

        <p class="alert alert-warning">{{ message }}</p>
    {% endfor %}

    <h2>Liste des dernieres annonces</h2>
    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                par {{ advert.author }},
                le {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas (encore !) d'annonces</li>
        {% endfor %}
    </ul>


{% endblock %}